adventure_works_analytics:
  target: dev
  outputs:
    dev:
      type: databricks
      catalog: "{{ env_var('DBT_DATABRICKS_CATALOG') }}"
      schema: "{{ env_var('DBT_DATABRICKS_SCHEMA') }}"
      host: "{{ env_var('DBT_DATABRICKS_HOST') }}"
      http_path: "{{ env_var('DBT_DATABRICKS_HTTP_PATH') }}"
      token: "{{ env_var('DBT_DATABRICKS_TOKEN') }}"
      threads: 4
